.card {
    width: 15%;
    min-width: 180.2px;
    height: auto;
    aspect-ratio: 2 / 3; /* Proporción típica de una carta */
}

.fs-0 {
    font-size: 5em;
}


.inverted-view {
    transform: scaleY(-1);
}